.entry-footer {
	margin: 0 auto calc($size__site-gutter * 2);
	max-width: $size__content-width;
	display: flex;
	flex-wrap: wrap;
}

.category-links a {
	background: $color__accent;
	color: $color__black;
	@mixin small-caps;
	text-decoration: none;
	padding: 5px 10px;
	margin-right: 5px;

	&:hover {
		color: $color__white;
	}
}

.tag-links a {
	background: $color__primary;
	color: $color__black;
	@mixin small-caps;
	text-decoration: none;
	padding: 5px 10px;
	margin-right: 5px;

	&:hover {
		color: $color__white;
	}
}

