// Event cards.
.event {
	.salt-upcoming {
		@mixin small-caps;
		padding: 2px 5px;
		position: absolute;
		top: 10px;
		left: -10px;
		background: $color__accent;
	}
}

.phoenix-event-list {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 1em;

	@mixin tablet {
		grid-template-columns: 1fr 1fr;
	}
}

.event {
	@mixin card;

	.entry-title {
		margin-top: 0;
		@mixin font-size 1.6;
	}

	.salt-event-details {
		font-family: $font__accent;
		@mixin font-size 1.125;
	}
}
