.sticky {
  display: block;
}

.hentry {
  margin: 60px 0;
}

.updated:not(.published) {
  display: none;
}

.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0;
}

.page-links {
  clear: both;
  margin: 0 0 1.5em;
}

.entry-header,
.page-header,
.entry-footer,
.site-info,
.post-navigation,
.page-navigation,
.comments-area,
.not-found .page-content,
.search .entry-summary {
  margin: 1.5em auto;
  padding-left: 14px;
  padding-right: 14px;
  max-width: 636px;
}

.entry-header .wp-post-image {
  margin-bottom: 1.5em;
}

.entry-footer span{
  margin-right: 1em;
}

.entry-footer{
  color: #aaa;
  font-size: 90%;
  padding-bottom: 40px;
  border-bottom: 1px solid #111;
}

@media screen and (min-width: 664px) {
  .entry-header,
  .page-header,
  .entry-footer,
  .site-info,
  .post-navigation,
  .page-navigation,
  .comments-area,
  .not-found .page-content,
  .search .entry-summary {
    padding-left: 0;
    padding-right: 0;
  }
}
